
*.suo
/Freya.WFEngine/bin
/Freya.WFEngine/obj
/Freya.WFEngine.TestApp/bin
/Freya.WFEngine.TestApp/obj
/_ReSharper.Freya.WFEngine
/Freya.WFEngine.VisualState.xml
/TestResult.xml
/Freya.WFEngine/Freya.WFEngine.csproj.DotSettings
/Freya.WFEngine.Tests/bin
/Freya.WFEngine.Tests/obj